.table-actions form{
    float: right;
    margin-left: 4px;
}
#grid_loader{
    text-align: center;
}
.report-column-data{
    display: none;
}
.bootstrap-tagsinput{
    width: 100%;
}

.select2-container{
    width: 100%!important;
}


#contributor-group-select {
    width: 300px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}


#project-select {
    width: 300px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

.column-data-group{
    margin-bottom: 6px;
    display: flex;
}

.add-column-data-row, .remove-column-data-row{
    width: 30px;
}

.table-actions{
    width: 100px;
}


.reports .small-box {
    position: relative;
}

.reports .small-box .delete {
    position: absolute;
    right: 5px;
    color: #FFF;
}

