@import "../../../node_modules/admin-lte/build/less/AdminLTE.less";

@boxed-layout-bg-image-path: "../../dist/img/boxed-bg.jpg";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.error-page {
	background-color: @body-bg;
}

[v-cloak] {
	display:none;
}


.skin-blue .sidebar-menu > li.header {
	color: #ffffff;
}


.skin-blue .main-header .navbar {
	background-color: #0094d8;
}

.skin-blue .main-header .logo {
	background-color: #0094d8;
}

.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
	background-color: #0094d8;
}

.btn-primary {
	background-color: #0094d8;
}

.bg-green {
	background-color: #A7B136 !important;
	//background-color: #47A544 !important;
}