
.form-sortable ul {
    list-style-type: none;
    padding: 0;
    min-height: 50px;
}

.form-sortable  li {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.form-sortable span {
    font-weight: bold;
}


.form-sortable .all-fields {
    width: 230px;
    padding-right: 20px;
}

.form-sortable .selected-fields {
    width: 230px;
}


/*
.uploadcare--widget__button_type_open {
    &:extend(.btn);
}
*/

.uploader-normal-button .uploadcare--widget__button_type_open {
    background-color: #0094D8;
    line-height: 1;
}
