.mini_stat {
  padding:25px;
  display: flex;
  flex-direction: row;
  width: 100%;

  .block {
    background-color: #4CBCEB;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    color: #fff;
    margin: auto;
    width: 200px;
    height: 100px;

    text-align: center;

    .number {
      font-weight: bold;
      font-size: 30px;
    }

    .descr {
      font-size: 18px;
    }
  }

}